{% extends "layout.html.j2" %}

{% block content %}
    <h1 class="text-center">[+] Running Calendars</h1>
    <hr>
    <table id="calendars_dt" class="table table-hover table-stripped" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">google calendar id</th>
      <th scope="col">summary</th>
      <th scope="col">student email</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% if calendars %}
      {% for cal in calendars %}
        <tr>
            <th scope="row">{{ cal.id }}</th>
            <th>{{ cal.calendar_id_google }}</th>
            <th>{{ cal.summary }}</th>
            <td>{{ cal.std_email }}</td>
            <td>
                <a href="{{ url_for('delete_calendar', gcalendar_id=cal.id) }}" class="btn btn-danger btn-sm">delete</a>
            </td>
        </tr>
    {% endfor %}
    {% endif %}
  </tbody>
</table>
{% endblock content %}

{% block additional_js %}
        $('#calendars_dt').DataTable({
            'pagingType': "full_numbers"
        });
        $('.dataTables_length').addClass('bs-select');
{% endblock additional_js %}