{% extends "base.html.j2" %}
{% from 'macros.j2' import render_select_field, render_input_field %}

{% block content %}
<form method="POST" action="/" class="mui-form">
<div class="mui-row">
    <div class="mui-col-sm-8 mui-col-sm-offset-2">

    </div>
</div>
<div class="mui-row">&nbsp;</div>


</form>
{% endblock content %}