{% extends "layout.html.j2" %}

{% block content %}
	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>ESI!</h1>
				<h2>FET to calendar api manager!</h2>
			</div>
			<a href="{{ url_for('import_csv_to_calendar_api') }}">Start event import</a>
		</div>
	</div>
{% endblock content %}