<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mdb.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/addons/datatables.min.css') }}">    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/addons/datatables-select.min.css') }}">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link
    href="data:image/x-icon;base64,AAABAAEAEBACAAAAAACwAAAAFgAAACgAAAAQAAAAIAAAAAEAAQAAAAAAQAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD//wAAA4EAAAOBAAB7vQAA858AAOfPAADP5wAAn/MAAJ/zAACf8wAAn/MAAJ/zAADP5wAA588AAPAfAAD4PwAA"
    rel="icon" type="image/x-icon" />
    {% if title %}
        <title>Fet to calendar API | {{ title }}</title>
    {% else %}
        <title>Fet to calendar API</title>
    {% endif %}
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('index') }}">Fet-to-calendar-api</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('import_csv_to_calendar_api') }}">Import</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('operations') }}">Operations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('get_calendars') }}">Calendars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('teacher_list') }}">Teachers</a>
                </li> 
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item avatar dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{{ session['picture'] }}" class="rounded-circle z-depth-0"
            alt="avatar image" height="35"/></span></a>
                    <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-55">
                    <a class="dropdown-item" href="{{ url_for('logout') }}">Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main role="main" class="container">
    <div class="row">
        <div class="col-md-12">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} fade show">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
    </div>
</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.js" integrity="sha256-pl1bSrtlqtN/MCyW8XUTYuJCKohp9/iJESVW1344SBM=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/mdb.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/addons/datatables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/addons/datatables-select.min.js') }}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        setTimeout(function () {
            $('.alert').alert('close');
        }, 3500);
        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

        {% block additional_js %}{% endblock %}

    });
</script>

<footer class="page-footer font-small dark black">
  <div class="footer-copyright text-center py-3">© 2019 Copyright
    <a href="https://omega-coder.me"> CHERIEF Yassine (Omega-Coder) @ ESI Alger</a>
  </div>
</footer>
</body>
</html>