{% extends "layout.html.j2" %}

{% block content %}
    <h1 class="text-center">Operation Center</h1>
    <table class="table table-hover table-stripped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Filename</th>
      <th scope="col">Number of inserted events</th>
      <th scope="col">Import date</th>
      <th scope="col">Delete Action</th>
    </tr>
  </thead>
  <tbody>
    {% if operations %}
      {% for op in operations %}
        <tr>
            <th scope="row">{{ op.id }}</th>
            <th>{{ op.filename }}</th>
            <th>{{ op.number_events }}</th>
            <td>{{ op.import_date }}</td>
            <td>
                <a href="{{ url_for('delete_importation', id_import=op.id) }}" class="btn btn-danger">delete</a>
            </td>
        </tr>
    {% endfor %}
    {% endif %}
  </tbody>
</table>

{% endblock content %}