{% extends "layout.html.j2" %}

{% block content %}
    <div class="alert alert-info alert-dismissible fade show text-center" role="alert">
        Sorry, you can not use the web app, but you can still consume some <strong>API endpoints</strong>.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

    </div>
	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>Sorry!</h1>
				<h2>403 - Unauthorized</h2>
			</div>
			<a href="{{ url_for('logout') }}">Try connecting again</a>
		</div>
	</div>
{% endblock content %}